.crystals {
    height: 150px;
    width: 150px;
}
.jumbotron {
    background-color: rgb(86, 86, 86);
    position: static;
    width: 100%;
    height: 175px;
    color: white;
    text-align: center;
    box-shadow: 1px 7px 10px rgba(0, 0, 0, .5);
}

.content {
    text-align: center;
}

.winslosses {
    text-align: center;
}

        #wins {
            font-size: large;
        }

        #losses {
            font-size: large;
        }

.chosenNumber {
    text-align: center;
}

        #randomNumber {
            font-size: x-large;
        }

.crystalOptions {
    text-align: center;
}

.totalscore {
    text-align: center;
}
        #scoreFinal {
            font-size: x-large;
        }

html {
    scroll-behavior: smooth;
}

.footer {
    background-color: rgb(86, 86, 86);
    position: static;
    width: 100%;
    height: 30px;
    bottom: auto;
    left: 0;

    color: white;
    text-align: center;
}
